@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body, html {
    min-height: 100%;
    margin: 0;
    padding: 0;
    max-width: 100%;
    font-family: 'Roboto', sans-serif;
}

.font-size {
  font-size: 20px;
}

/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  padding: 20px 10px;
  background-color: #D2B48C;
  box-shadow: 1px 1px 5px 1px #F0FFF0 inset;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-family: 'Muli', sans-serif;
  max-width: 100%;
}
@media (max-width: 768px){
    .header{
        /* Reverse the axis of the header, making it vertical. */
        flex-direction: column;


        /* Align items to the begining (the left) of the header. */
        align-items: flex-start;
    }
}
/* Style the header links */
.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  font-family: 'Muli' sans-serif;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
  max-width: 100%;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active/current link*/
.header a.active {
  background-color: #FAFAD2;
  color: black;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

.play-button {
  background-color: #0028A0;
  border-radius: 26px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font: 900 16px/24px 'Muli', sans-serif;
  cursor: pointer;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.images{
  display: block;
  max-width: 300px;
}

@media only screen and (min-width: 768px){
  /*desktop*/
    .images{
      width: 40%;
      float: right;
      margin-left: 2%;

    }
}

@media only screen and (min-width: 300px) and (max-width: 768px){
  /*mobile*/
    .images{
      max-width: 300px;
    }
}
.contact-icons {
  display: block;
}
.background-image-container {
  padding-top: 20px;
  background-image: url("../images/sandbackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-left: 0;
  margin-right: 0;
}
@media (max-width: 320px){
    .background-image-container{
      min-width: 100%;
      min-height: 100%;
      display: block;

    }
}

.background-image-container2 {
  padding-top: 20px;
  background-image: url("../images/sandbackground.png");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 320px){
    .background-image-container2{
      min-width: 100%;
      min-height: 100%;
      display: block;

    }
}

.box-wrapper {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
@media (min-width: 768px){
    .box-wrapper{
      max-width: 1560px;

    }
    .box-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: stretch;
      justify-content: center;
    }
}

.box-wrapper2 {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
.box-wrapper3 {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
.box {
  border: 1px solid black;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #FFFFF0;

  margin-top: 20px;
  margin-bottom: 20px;
  vertical-align: top;
  position: relative;
  border-radius: 5%;
  padding-top: 5%;
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .box {
    width: 30%;
    display: flex;
    flex-direction: column;


}
}

.box-business {
  border: 1px solid black;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #FFFFF0;

  margin-top: 20px;
  margin-bottom: 20px;
  vertical-align: top;
  position: relative;
  border-radius: 5%;
  padding-top: 5%;
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .box-business {
    width: 20%;
    display: flex;
    flex-direction: column;

}
}
.info-header {
  color: white;
}

.profilepic {
  border-radius: 50%;
  border: 2px solid lightgrey;
  box-shadow: 1px 1px 5px 1px grey;
  max-width: 90%;
  height: auto;
}
.profilepic2 {
  border: none;
  max-width: 90%;
  height: auto;
}
.box-main {
  border: 1px solid #F5F5F5;
  display: inline-block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFF0;
  height: 100%;
  margin-top: 10px;
  position: relative;
  margin-bottom: 5%;
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .box-main, .box-main2, .box-main3 {
    max-width: 1560px;

}
}
.box-main2 {
  border: 1px solid #F5F5F5;
  display: inline-block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFF0;
  height: auto;
  margin-top: 10px;
  position: relative;
}
@media (min-width: 768px){
    .box-main2{
      max-width: 1560px;
      margin-bottom: 50px;
    }
}
.box-main3 {
  border: 1px solid #F5F5F5;
  display: inline-block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFF0;
  height: auto;
  margin-top: 10px;
  position: relative;
}
.image-main {
  display: inline-block;
  float: left;
  margin-left: auto;
  margin-right: auto;
}
.footer {
  position: static;
  left: 0;
  bottom: 0;

  background-color: dodgerblue;
  color: white;
  text-align: center;

}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .footer {
  width: 100%;
  height: 100%;
}
}
.text {
  text-align: left;
  margin-left: 15px;
  margin-right: 15px;
  padding: 1em;
}
.footer-text {
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
  padding: 1em;
}
.contact-container {
  background-color: #FFFFF0;
  padding: 10px 40px;
  border-radius: 10px;
  position: relative;
  max-width: 100%;
}
.row-direction {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}
.contactpage-text {
  margin-top: 81px;
  box-sizing: border-box;
  display: block;

}
.addresses {
  margin-top: 80px;
  box-sizing: border-box;
  display: block;
}
.row {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.contact-icons {
  padding: 0;
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .contact-icons {
    width: 33.33%;
    float: left;
}
}
.col-form {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.wpcf7 {
  margin: 0;
  padding: 0;
}
.map-container {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-container iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}
.youtube-responsive-container {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.youtube-responsive-container iframe, .youtube-responsive-container object, .youtube-responsive-container embed {
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}
.social-icons {
  padding-left: 20px;
  padding-bottom: 10px;
}
a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit
}
a {
    transition: all .25s ease-in-out
}
.ct-u-paddingTop10 {
    padding-top: 10px !important
}
.ct-footer {
    background-color: #D2B48C;
    padding-top: 70px;
    margin-top: 0;
    position: relative;
}
.ct-footer-pre {
    width: 100%;
    padding-bottom: 55px;
    border-bottom: 1px solid #555;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
@media (min-width:1200px) {
    .ct-footer-pre {
        display: table
    }
    .ct-footer-pre > .inner {
        display: table-cell;
        vertical-align: middle
    }
}

@media (max-width:1199px) {
    .ct-footer-pre .form-group {
        padding-top: 15px
    }
}

.ct-footer-pre span {
    color: #ebebeb;
    font-size: 30px
}

.ct-footer-pre .form-group {
    position: relative;
    margin: 0;
}

.ct-footer-pre .form-group:before,
.ct-footer-pre .form-group:after {
    content: '';
    display: table
}

.ct-footer-pre .form-group:after {
    clear: both
}

.ct-footer-pre .form-group input {
    border: 1px solid #00bff3;
    background-color: #333;
    color: #fff;
    height: 50px;
    padding: 0 30px;
    margin: 0 5px;
    border-radius: 0 !important;
}

}
.ct-footer-post {
    background: #000;
    padding-left: 30px;
    padding-bottom: 25px;
}
.ct-footer-post a {
    color: #fff;
}
.ct-footer-post p {
    color: #fff;
}

@media (min-width:768px) {
    .ct-footer-post p {
        display: inline-block
    }
    .ct-footer-post p + p {
        padding-left: 50px
    }
}

@media (min-width:992px) {
    .ct-footer-post .inner-left {
        float: left
    }
    .ct-footer-post .inner-right {
        float: right
    }
}

@media (max-width:991px) {
    .ct-footer-post {
        text-align: center
    }
}

.ct-footer-meta {
    padding-top: 30px;
}

.ct-footer-meta .ct-socials {
    padding: 20px 0;
}

.ct-footer-meta .ct-socials li {
    padding: 0 3px
}

.ct-footer--with-button {
    padding-top: 150px
}

address {
    color: #fff;
    display: inline-block;
    padding-left: 20px
}

address span {
    font-weight: 600
}

address a {
    color: #fff;
}

address a:hover {
    text-decoration: underline
}

@media (max-width:767px) {
    address {
        padding-top: 30px
    }
}

.btn {
    font-family: 'Open Sans Condensed', sans-serif;
    border-radius: 0;
    border: none;
    text-transform: uppercase;
    color: #111;
    font-size: 26px;
    padding: 12px 30px;
}

.btn.btn-motive {
    background-color: #00bff3;
    transition: all .25s ease;
}

.btn.btn-motive:hover {
    background-color: #00bff3;
}

.btn.btn-motive:hover:active {
    background-color: #00bff3
}

.btn.btn-violet {
    color: #fff;
    background-color: #4f4f99;
    transition: all .25s ease;
}

.btn.btn-violet:hover {
    background-color: #37376b;
}

.btn.btn-violet:hover:active {
    background-color: #2f2f5b
}

.btn.btn-green {
    color: #fff;
    background-color: #43670f;
    transition: all .25s ease;
}

.btn.btn-green:hover {
    background-color: #36520c;
}

.btn.btn-green:hover:active {
    background-color: #314a0b
}

.btn.btn-red {
    color: #fff;
    background-color: #da2229;
    transition: all .25s ease;
}

.btn.btn-red:hover {
    background-color: #ae1b21;
}

.btn.btn-red:hover:active {
    background-color: #9d181e
}

.btn.btn-white {
    background-color: #fff;
    transition: all .25s ease;
}

.btn.btn-white:hover {
    background-color: #d9d9d9;
}

.btn.btn-white:hover:active {
    background-color: #c9c9c9
}

.btn.btn-large {
    padding: 20px 50px;
    font-size: 30px;
    white-space: normal;
}

@media (max-width:479px) {
    .btn.btn-large {
        padding: 20px 10px;
        line-height: .9;
        font-size: 26px;
        letter-spacing: -.2px
    }
}
.ct-mediaSection {
    background-attachment: fixed
}

@media (max-width:479px) {
    .ct-section_header--type1 {
        font-size: 60px;
        line-height: .8
    }
}

.ct-section_header--type2 img {
    display: inline-block;
    float: left;
    position: relative;
    top: 15px;
    padding-right: 3px
}

.ct-section_header--type3 {
    text-align: center;
}

@media (max-width:479px) {
    .ct-section_header--type3 small {
        font-size: 25px
    }
    .ct-section_header--type3 span {
        font-size: 90px
    }
}

.ct-section_header--type4 {
    text-align: center;
}

.ct-section_header--type4:before,
.ct-section_header--type4:after {
    content: '';
    display: table
}

.ct-section_header--type4:after {
    clear: both
}

@media (max-width:479px) {
    .ct-section_header--type4 small {
        font-size: 40px
    }
    .ct-section_header--type4 span {
        font-size: 80px
    }
}

.ct-section_header + p {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -1.5px;
    text-align: center;
}

@media (max-width:479px) {
    .ct-section_header + p {
        font-size: 22px
    }
}


@media (max-width:479px) {
    .ct-section_header--type4 + p {
        font-size: 28px
    }
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media screen and (max-width: 400px) {
  .box-wrapper {
    width: 100%;
  }
  .box-wrapper2 {
    width: 100%;
  }
  .footer {
    width: 100%;
    margin: 0;
  }
  .background-image-container {
    width: 100%;
    margin: 0;
    height: 100%;
    display: block;
  }
  .body{
    height: 100%;
    margin: 0;
  }
}
/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}


.wrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fafafa;
}
.login-form{
    width: 100%;
    margin: 0 auto;
    border: 1px solid #ddd;
    padding: 2rem;
    background: #FFFFF0;
}
.form-input{
    background: #fafafa;
    border: 1px solid #eeeeee;
    padding: 12px;
    width: 100%;
}
.form-group{
    margin-bottom: 1rem;
}
.form-button{
    background: #69d2e7;
    border: 1px solid #ddd;
    color: #ffffff;
    padding: 10px;
    width: 100%;
    text-transform: uppercase;
}
.form-button:hover{
    background: cornflowerbluez;
}
.form-header{
    text-align: center;
    margin-bottom : 2rem;
}
.form-footer{
    text-align: center;
}
